 <nav class="navbar">
            <div class="logo">
                <a href="/">Albino Dictionary</a> 
            </div>
            <div class="main-nav">
                <li><a href="/">Home</a> </li>
                <li><a href="/dic">Search Word</a> </li>
            </div>
        </nav>
